{
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "commonjs": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "plugins": [
    "import",
    "vue",
    "prettier"
  ],
  "extends": [
    "eslint:essential",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:vue/essential",
    "prettier",
    "prettier/vue"
  ],
  "rules": {
    "no-bitwise": [
      "error",
      {
        "allow": [
          "~"
        ]
      }
    ],
    "no-unused-vars": "off",
    "no-console": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external"
        ]
      }
    ],
    "prettier/prettier": [
      "error"
    ]
  }
}
