doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title SplitEase.js
  link(rel="stylesheet", href="/main.css")
body
  h1 SplitEase.js

  // MAXI
  canvas.maxi

  form#maxi-ctrl



  // MINI
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  script(src="main.js")
