doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title SplitEase.js
  link(rel="stylesheet", href="/css/main.css")
body
  h1 SplitEase.js

  // MAXI
  #maxi
    form(@submit.prevent)
      label(for="pattern") Pattern
      select#pattern(v-model="pattern")
        option(value="midpoint", selected) Midpoint
        option(value="split") Split

      label(for="easeIn") In Time
      input(type="range", min="0.000", max="1.000", step="0.001", v-model.number="easeIn")
      input#easeIn(type="number", min="0.000", max="1.000", step="0.100", v-model.number="easeIn")

      label(for="easeOut") Out Time
      input(:disabled="pattern=='midpoint'" type="range", min="0.000", max="1.000", step="0.001", v-model.number="easeOut2", style="direction: rtl")
      input#easeOut(:disabled="pattern=='midpoint'" type="number", min="0.000", max="1.000", step="0.100", v-model.number="easeOut2")

      label(for="pattern") Curvature
      select(v-model="type")
        option(value="pow", selected) Power
        option(value="sin") Sine

      input(:disabled="type=='sin'" type="range", min="1.000", max="5.000", step="0.001", v-model.number="pow")
      input#pow(:disabled="type=='sin'" type="number", min="1.000", max="5.000", step="0.100", v-model.number="pow")

    pre: code {{argList}}
    canvas.maxi

  //- canvas.maxi



  // MINI
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  script(src="/js/main.js")
