svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 310 210')
  defs
    path#a(d='M0 0h322v222H0V0zm11 221c39.5803701 0 70.5045992-16.669767 107.041155-52.899145L218.071068 68.0710678c33.329344-32.6729952 59.772107-47.0712227 92.929147-47.0719369 5.522848-.000119 9.999904-4.477368 9.999785-10.0002155-.000119-5.52284746-4.477368-9.99990352-10.000215-9.99978454-21.027991.00045299-40.193227 5.13576108-58.667013 15.19483674-15.861766 8.6368174-31.002217 20.674977-48.333252 37.6650747L103.928932 153.928932C70.8164826 186.762867 44.4050534 201 11 201c-5.5228475 0-10 4.477153-10 10s4.4771525 10 10 10z')
  g(fill='none', fill-rule='evenodd', transform='translate(-6 -6)')
    path(stroke='#FF211E', stroke-linecap='round', stroke-width='10', d='M11 211c40.1149947 0 69.4752889-19.731922 100-50L211 61c29.985793-29.3959097 59.653855-50 100-50.0008691')
    mask#b(fill='#fff')
      use(xlink:href='#a')
    g(stroke='#F4D94B', stroke-linecap='round', stroke-linejoin='round', stroke-width='10', mask='url(#b)')
      path(stroke-dasharray='23.10000038', d='M311 211H211V11l100 200z')
      path(d='M211 11l100 200')
      path(stroke-dasharray='23.10000038', d='M11 211h100V11L11 211z')
      path(d='M111 11L11 211')
