#feature-graph {

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;
  }

  .controls .label {
    @include m(null,s) {
      display: none;
    }
  }
  .progress .label {
    @include m(null,m) {
      display: none;
    }
  }

  .progress {
    color: red;
    position: absolute;
    width: calc(50vw - 50%);
    height: 100%;
    left: calc(100% + 20px);
    top: 0;
    .marker {
      position: absolute;
      width: 100%;
      // max-width: 200px;
      height: calc(100% - 20px);
      top: 6px;
      left: 0;
      border-top: 8px solid red;
    }
    .label {
      position: absolute;
      bottom: calc(100% + 12px);
      left: 0;
    }
  }
}
