#feature-graph {

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;
  }

  .progress {
    width: calc(50vw - 50%);
    height: 100%;
    left: 100%;
    top: 0;
    background-color: pink;
  }
}
