

body {
  background-color: #eee;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #111;
  margin-top: 60px;
}

.logo {
  position: relative;
  height: 0;
  padding-bottom: percentage(210/310);
  > svg {
    position: absolute;
    display: block;
    top: 0;right: 0;bottom: 0;left: 0;
    width: 100%;
    height: 100%;
  }
}
.wrap {
  margin: 0 auto;
  max-width: 500px;
}
.stack {

}
