extends /_templates/layout
block main
  .flow
    .span-9
      .stack-m
        .stop(style={ background: '#eee' }): .stack: p.f-sans-xs= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-sans-s= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-sans-m= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-sans-l= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-sans-xl= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-sans-xxl= _casual.text

    .span-9
      .stack-m
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-sans-xs= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-sans-s= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-sans-m= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-sans-l= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-sans-xl= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-sans-xxl= _casual.text
