extends /_templates/layout
block main
  .flow
    .span-9
      .stack-m
        .stop(style={ background: '#eee' }): .stack: p.f-mono-xs= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-mono-s= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-mono-m= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-mono-l= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-mono-xl= _casual.text
        .stop(style={ background: '#eee' }): .stack: p.f-mono-xxl= _casual.text

    .span-9
      .stack-m
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-mono-xs= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-mono-s= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-mono-m= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-mono-l= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-mono-xl= _casual.text
        .stop(style={ background: '#eee' }): .stack: h1.strong.f-mono-xxl= _casual.text
