extends /_templates/layout
block main

  h1.f-sans Introducing Split-Ease
  h2 The curve with a beginning, middle and end.
  :markdown
    Split Ease is a library which combines interpolation with some very clever other things **that are really smart**

  #maxi-graph

  // MINI
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
  .curve-set
    canvas.mini
    canvas.mini
    canvas.mini
