@import '_stylesheets/common';
// @import '_stylesheets/vendor/prism';

$colors: (
  'blue': #ADDDFF,
  'green': #10ce00,
  'dark': #141414,
  'lite': #f5f5f5,

  'rose': #EBD8D9,
  'gray': (
    darker: #222222,
    dark: #545454,
    mid: #858585,
    light: #B7B7B7,
    lighter: #E9E9E9,
  ),
);

$z-indexes: ();
@function z($i) { @return map-get($z-indexes, $i); }

$fonts: (
  sans: (
    font-family: ('IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif),
    line-height: lerp((14px: 1.6em, 70px: 1.2em), 1em),
    letter-spacing: lerp((1px: 0.25px, 100px: -1px), 1em),
    font-feature-settings: ('kern' 1),
    trim-sides: calc(1px - 0.1em),
    adjust-adjacent: calc(1em/16),
    dist-capline: 0.14,
    dist-baseline: 0.12,
  ),
  mono: (
    font-family: ('IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace),
    line-height: lerp((14px: 1.6em, 70px: 1.2em), 1em),
    letter-spacing: lerp((1px: 0.25px, 100px: -1px), 1em),
    font-feature-settings: ('kern' 1),
    trim-sides: calc(1px - 0.1em),
    adjust-adjacent: calc(1em/16),
    dist-capline: 0.14,
    dist-baseline: 0.12,
  ),
);

@include homework-reset;
@include homework-setup-root();
@include homework-setup-page();
@include homework-setup-stack();
@include homework-setup-grid();
@include homework-setup-cell();
@include homework-setup-typo();
@include homework-setup-atomic();
@include homework-setup-helper();
@include homework-setup-theme();
@include homework-setup-state();
@include homework-setup-debug($color: rgba(0,0,0,0.05));

body {
  font-family: map-get($fonts, sans, font-family);
}

canvas {
  background-color: #eee;
  // &.mini {
  //   width: 200px;
  //   height: 200px;
  // }
}

.wrap {
  max-width: 600px;
  margin: 0 auto;
}

form {}

input {
  appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
  &[type="range"] {
    // background-color: blue;
  }
}

select {
  appearance: none;
  border: none;
  background: none;
  outline: none;
}
// @import "scss/ctrl";

// .code {

//   font-size: 1.25em;
//   // text-align: center;
//   padding: 0.75em 2em;
//   border: 1px solid #17A1E6;
//   color: #919399;
//   span { color: $gray; }
//   pre {
//     margin: 0;
//     // font-family: 'Inconsolata', monospace;
//     font-size: 22px;
//   }
// }

// .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
