extends /_templates/layout
block main

  .flow-l
    .span-9
      .stack-l
        .f-sans-xxl SplitEase.js
        .f-sans-xl The curve with a beginning, middle and end.
        .f-sans-l= _chance.paragraph({ sentences: 4 })

    .span
      +ph({ aspect: 16/9 })

    .span
      .stack-s
        .readout
          .stack
            .f-mono SplitEase(0.3, 0.3, {, sin:, true, })
        .f-mono-xs= _casual.text

    .span-8
      .plain-m
        :markdown
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue.

          Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
