
@import "_scss/fonts";
@import "_scss/base";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

canvas {
  background-color: #eee;
  // &.mini {
  //   width: 200px;
  //   height: 200px;
  // }
}

.wrap {
  max-width: 600px;
  margin: 0 auto;
}

form {}

input {
  appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
  &[type="range"] {
    // background-color: blue;
  }
}

select {
  appearance: none;
  border: none;
  background: none;
  outline: none;
}
// @import "scss/ctrl";

// .code {

//   font-size: 1.25em;
//   // text-align: center;
//   padding: 0.75em 2em;
//   border: 1px solid #17A1E6;
//   color: #919399;
//   span { color: $gray; }
//   pre {
//     margin: 0;
//     // font-family: 'Inconsolata', monospace;
//     font-size: 22px;
//   }
// }

// .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
